.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
dist/
build/
*.egg-info/
data/input/*
data/output/*
data/success/*
data/error/*
data/logs/*
!data/input/.gitkeep
!data/output/.gitkeep
!data/success/.gitkeep
!data/error/.gitkeep
!data/logs/.gitkeep
postgres_data/
